
/* background DARKER */
header.navbar-gitlab,
header.navbar-gitlab .side-nav-toggle,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
header.navbar-gitlab .container-fluid .nav>li>a:hover, header.navbar-gitlab .container-fluid .nav>li>a:focus, header.navbar-gitlab .container-fluid .nav>li>a:active,
.project-stats li.missing:hover,
.dropdown-menu a:hover, .dropdown-menu-nav a:hover,
.file-holder .file-content,
.file-editor .new-file-name
{
	background-color: #181818 !important;
}

/* background BASE */
body, html, .content-wrapper .container-fluid,
.layout-nav,
.dropdown-menu, .dropdown-menu-nav,
.ace-tm,
.form-actions,
.select2-drop, .row-content-block.content-component-block
{
	background-color: #202020 !important;
}

/* background LIGHTEN */
.project-repo-buttons .btn, .group-buttons .btn, .btn,
.git-clone-holder .form-control, .git-clone-holder .search form, .search .git-clone-holder form,
table.table tr th, .file-holder table tr th, .wiki table tr th, .md table tr th, ul.notes .note .note-body .note-text table tr th, .tree-holder .tree-table tr:hover td,
.file-holder .file-title,
code,
.dropdown-toggle, .dropdown-menu-toggle, input,
.dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a.is-focused, .dropdown-menu-nav a:hover, .dropdown-menu-nav a:focus, .dropdown-menu-nav a.is-focused,
.file-editor .editor-ref,
.ace-tm .ace_gutter, .file-editor .ace_gutter-cell, textarea,
.commit-message-container,
.select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice,
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-ajax-error, .select2-results .select2-selection-limit,
.blob-commit-info, .commit-header,
.text-expander, .project-network .controls
{
	background-color: #2f2f2f !important;
}


/* color BASE */
header.navbar-gitlab,
header.navbar-gitlab .nav .fa,
header .header-content .title a,
ul.content-list li a,
ul.content-list li,
.nav-links a,
.wiki,
h1, h2, h3, h4, h5, h6, h7,
.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6, .wiki h7,
.project-last-commit.container-fluid,
.badge,
.dropdown-menu, .dropdown-menu-nav,
.dropdown-menu a, .dropdown-menu-nav a,
.dropdown-menu-inner-title, .dropdown-menu-inner-content,
.dropdown-menu .dropdown-header, .dropdown-menu-nav .dropdown-header,
code,
.project-repo-buttons .btn, .group-buttons .btn, .btn,
.git-clone-holder .form-control, .git-clone-holder .search form, .search .git-clone-holder form,
.project-repo-buttons .btn .fa, .group-buttons .btn .fa, .btn .fa,
.event-item .event-title, .event-item .event-body, .event-item, .event-item .event-item-timestamp,
.tree-holder .tree-table tr, .tree-holder .tree-table tr:hover td
table, thead, tbody, tr, td,
table .fa,
.file-holder, .file-holder .file-title, .file-holder .file-title a,
.dropdown-toggle, .dropdown-menu-toggle, .dropdown-input-field, .default-dropdown-input,
.file-editor .new-file-name::-webkit-input-placeholder, .file-editor,
.file-editor .ace_gutter-cell, .ace-tm, .ace-tm .ace_cursor,
.form-actions, .form-control, .search form, textarea,
.select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-search input,
.blob-commit-info, .commit-header,
.text-expander, .project-network .controls,
.project-network .controls input, .project-network .controls label
{
	color: #c0c0c0 !important;
}
.btn svg path
{
	fill: #c0c0c0 !important;
}


::placeholder {
	color: white;
}

/* color LINK */
.project-last-commit.container-fluid a,
.project-stats .nav>li>a:hover, .project-stats .nav>li>a:focus, .project-stats .nav>li>a,
.dropdown-menu a:hover, .dropdown-menu-nav a:hover,
.wiki a,
.event-title a, .event-item .event-body a,
table a,
.dropdown-input-field,
.blob-commit-info a,
.breadcrumb a
{
	color: #4183C4 !important;
}

/* color DANGER */
.btn.btn-remove
{
	color: #f44 !important	;
}


/* border color BASE */
.projects-list .project-row,
header.navbar-gitlab,
.top-area, .wiki-page-header,
.project-last-commit.container-fluid,
.layout-nav,
.project-stats li.missing,
.dropdown-menu, .dropdown-menu-nav,
.project-home-panel, .group-home-panel,
.project-stats,
.project-repo-buttons .btn, .group-buttons .btn, .btn,
.git-clone-holder .form-control, .git-clone-holder .search form, .search .git-clone-holder form,
.event-item, .nav-links, .activity-filter-block .controls,
table, thead, tbody, th, tr, td, .tree-holder .tree-table tr,
.tree-holder .tree-table tr:hover td,
.file-holder, .file-holder .file-title,
.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6, .wiki h7,
.dropdown-toggle, .dropdown-menu-toggle,
.dropdown-input-field, .default-dropdown-input,
.file-editor .editor-ref,
.file-editor .new-file-name,
.form-actions, .form-control, .search form, textarea,
.max-width-marker,
.select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice,
.select2-drop, .select2-search input,
.blob-commit-info, .commit-header,
ul.content-list>li,
.table-list .table-list-cell,
.row-content-block,
.text-expander,
.project-network .controls, .project-network
{
	border-color: #484848 !important;
}

/* background color bordered */
.dropdown-menu .divider, .dropdown-menu-nav .divider
{
	background-color: #484848 !important;
}

/* background blue */
.badge
{
	background-color: #264c71 !important;
}


/* background NO */
.btn.btn-transparent {
	background-color: transparent !important;
}



/* AVATAR FOR PROJECT */
.project-home-panel .avatar-container.s70
{
	width: 180px;
	height: 180px;
}

.select2-drop {
	border: 1px solid;
}
